#calendar {
    position: absolute;
    width: 80vw ;
    max-height: 85vh;
    margin-top: 4rem;
    margin-left: 1rem;
}


.fc .fc-daygrid-day-frame {
    border: 1px inset var(--color-dark);
}



.fc-theme-standard td, .fc-theme-standard th {
    /*border: 1px solid var(--fc-border-color);*/
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: var(--color-primary);
}


.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    /* background-color: var(--fc-button-active-bg-color); */
    /* border-color: var(--fc-button-active-border-color); */
    /* color: var(--fc-button-text-color); */
}


.fc .fc-button-primary {
    margin: 0.5rem;
}
.fc-h-event {
    /*background-color: var(--fc-event-bg-color);*/
    /*border: 1px solid var(--fc-event-border-color);*/
    /*display: block;*/
}

.fc .fc-toolbar-title {
     text-align: center;
}

.fc-direction-ltr .fc-list-day-text, .fc-direction-rtl .fc-list-day-side-text {
    color: black;

}

.fc-direction-ltr .fc-list-day-side-text, .fc-direction-rtl .fc-list-day-text {
    color: black;
}

.fc .fc-list-event td {

}

.fc .fc-list-event:hover td {
    background-color: rgba(0, 0, 0, 0.005);
    mix-blend-mode: luminosity;
}
