.modal {
    max-height: 80vh;
    position: fixed; /* Pozycja modalu względem okna przeglądarki */
    top: 50%; /* Pozycja od góry na 50% wysokości okna przeglądarki */
    left: 50%; /* Pozycja od lewej na 50% szerokości okna przeglądarki */
    transform: translate(-50%, -50%); /* Przesunięcie modalu o połowę jego wysokości i szerokości w lewo i do góry, aby go wyśrodkować */
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
}
.modal .modal-content form{
    display: flex;
    flex-direction: column;
}
.modal::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}
.modal {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    width: 100%; /* Szerokość dialogu */
    max-width: 800px; /* Maksymalna szerokość dialogu */
    margin: auto; /* Wyśrodkowanie dialogu */
}

.modal-content {

    font-family: 'Poppins', sans-serif; /* Czcionka tekstu w dialogu */
    color: var(--color-dark);
}

.modal-content label {
    display: block; /* Wyświetlanie etykiet jako bloków */
    margin-bottom: 5px; /* Dolne marginesy etykiet */
}

.modal-content input,
.modal-content select,
.modal-content textarea{
    width: 100%; /* Szerokość pól formularza */
    padding: 10px; /* Wewnętrzne marginesy pól formularza */
    border-radius: 5px; /* Zaokrąglenie rogów pól formularza */
    margin-bottom: 20px; /* Dolne marginesy pól formularza */
    background-color: var(--color-background);
    color: var(--color-dark);


}