<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/dashboard.css" th:href="@{css/dashboard.css}">
    <title>WorkWaveX</title>
</head>

<body>


<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="toggle">
            <div class="logo">
                <h2>Work<span class="danger">WaveX</span></h2>
            </div>
            <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
            </div>
        </div>

        <div class="sidebar">
            <a href="dashboard.html" class="active" th:href="@{/dashboard}">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                <h3>Dashboard</h3>
            </a>
            <a href="employees.html" th:href="@{/employees}">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                <h3>Employees</h3>
            </a>
            <a href="calendar.html" th:href="@{/calendar}">
                    <span class="material-icons-sharp">
                        calendar_today
                    </span>
                <h3>Calendar</h3>
            </a>

            <a href="projects.html" th:href="@{/projects}">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                <h3>Projects</h3>
            </a>

            <a href="newLogin.html" th:href="@{/newLogin}">
                    <span class="material-icons-sharp">
                        add
                    </span>
                <h3>New Login</h3>
            </a>
            <a href="#" th:href="@{/logout}">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>
    <!-- End of Sidebar Section -->

    <!-- Main Content -->
    <main>

        <div class="grid-container">
            <a href="employees.html" class="grid-item">
                <img src="../static/images/groupp.png" th:href="@{/images/groupp.png}">
                Employees
            </a>
            <a href="calendar.html" class="grid-item">
                <img src="../static/images/august.png" th:href="@{/images/august.png}">
                Calendar
            </a>
            <a href="projects.html" class="grid-item">
                <img src="../static/images/professionalMIN.png" th:href="@{/images/professionalMIN.png}">
                Projects
            </a>
            <a href="newLogin.html" class="grid-item">
                <img src="../static/images/working-woman.png" th:href="@{/images/working-woman.png}">
                New Login
            </a>
        </div>
    </main>




    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
            <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
            </button>


            <div class="profile">
                <div class="info">
                    <p th:text="'Hey, ' + ${#authentication.principal.firstName}">Hey, <b>Reza</b></p>
                    <small class="text-muted" th:text="${#authentication.authorities[0].authority}">Admin</small>
                </div>

            </div>

        </div>
        <!-- End of Nav -->

    </div>


</div>

<script src="../static/js/dashboard.js" th:src="@{js/dashboard.js}"></script>
</body>

</html>