<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" href="../static/css/employees.css" th:href="@{/css/employees.css}">
    <link rel="stylesheet" href="../static/css/modal.css" th:href="@{/css/modal.css}">
    <title>WorkWaveX</title>
</head>

<body>

<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="toggle">
            <div class="logo">
                <img src="../static/images/contact-person.png" th:src="@{/images/contact-person.png}">
                <h2>Work<span class="danger">WaveX</span></h2>
            </div>
            <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
            </div>
        </div>

        <div class="sidebar">
            <a href="dashboard.html" th:href="@{/dashboard}">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                <h3>Dashboard</h3>
            </a>
            <a href="employees.html" class="active" th:href="@{/employees}">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                <h3>Employees</h3>
            </a>
            <a href="calendar.html" th:href="@{/calendar}">
                    <span class="material-icons-sharp">
                        calendar_today
                    </span>
                <h3>Calendar</h3>
            </a>
            <a href="activity.html" th:href="@{/activity}">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                <h3>Activity</h3>
            </a>
            <a href="chat.html" th:href="@{/chat}">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                <h3>Chat</h3>
                <span class="message-count">27</span>
            </a>
            <a href="projects.html" th:href="@{/projetcs}">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                <h3>Projects</h3>
            </a>
            <a href="reports.html" th:href="@{/reports}">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                <h3>Reports</h3>
            </a>
            <a href="settings.html" th:href="@{/settings}">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                <h3>Settings</h3>
            </a>
            <a href="newLogin.html" th:href="@{/newLogin}">
                    <span class="material-icons-sharp">
                        add
                    </span>
                <h3>New Login</h3>
            </a>
            <a href="#" th:href="@{/logout}">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>
    <!-- End of Sidebar Section -->

<!--    Modal-->
    <dialog class="modal" id="modal">
        <div class="modal-content">
            <form class="form" method="dialog">
                <label for="employeeName"> Employee Name
                    <input type="text" id="employeeName" name="employeeName" required>
                </label>
                <label for="idNumber"> ID Number
                    <input type="number" id="idNumber" name="idNumber" required>
                </label>
                <label for="photo"> Photo
                    <input type="text" id="photo" name="photo" required>
                </label>
                <label for="position"> Position
                    <input type="text" id="position" name="position" required>
                </label>
                <label for="email"> Email
                    <input type="email" id="email" name="email" required>
                </label>
                <label for="phoneNumber"> Phone Number
                    <input type="number" id="phoneNumber" name="phoneNumber" required>
                </label>
                <label for="hours"> Hours
                    <input type="text" id="hours" name="hours" required>
                </label>
                <label for="salary"> Salary
                    <input type="number" id="salary" name="salary" required>
                </label>
                <div class="buttons">
                    <button class="cancel" type="reset">Cancel</button>
                    <button class="submit" type="submit">Submit</button>
                </div>

            </form>
        </div>
    </dialog>

    <!-- Main Content -->
    <main>
        <h1>Employees</h1>


        <!-- Recent Orders Table -->
        <div class="employees-list">
            <h2>Employees dataset</h2>
            <table>
                <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>ID Number</th>
<!--                    <th>Photo</th>-->
                    <th>Position</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Hours</th>
                    <th>Salary</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- End of Recent Orders -->

    </main>
    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
            <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
            </button>
            <div class="light-mode">
                    <span class="material-icons-sharp">
                        light_mode
                    </span>
                <span class="material-icons-sharp active">
                        dark_mode
                    </span>
            </div>

            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Reza</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    <img src="../static/images/profile-1.jpg" th:src="@{/images/profile-1.jpg}">
                </div>
            </div>

        </div>
        <!-- End of Nav -->


    </div>


</div>

<script src="../static/js/dashboard.js" th:src="@{js/dashboard.js}"></script>
<script type="module" src="../static/js/employees.js" th:src="@{js/employees.js}"></script>
</body>

<script>



</script>
</html>